.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
}


.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  padding: 24px;
  overflow-y: auto;
}
