.header {
  height: 64px;
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--border-default);
  padding: 0 42px;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-hamburguer {
  all: unset;
  cursor: pointer;
  padding: 8px;
}

/*.btn-hamburguer:hover {
  background-color: #dadada;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  */

.header-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icon-theme {
  all: unset;
  cursor: pointer;
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8) rotate(-20deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.icon-user {
  all: unset;
  background-color: #F3F4F6;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.menu-user {
  max-width: 250px;
  width: 100%;
  background-color: #ffff;
  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  position: fixed;
  top: 55px;
  right: 50px;
  border-radius: 8px;
  padding: 10px;
}

.menu-user-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #E5E7EB;
}

.menu-user-info strong {
  font-size: 14px;
  color:#020617;
  font-weight: 600;
}

.menu-user-info span {
  font-size: 12px;
  color: #6B7280;
}

.menu-user-logout {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #DC2626;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
}