.header {
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-hamburguer {
  all: unset;
  cursor: pointer;
  padding: 8px;
}

.btn-hamburguer:hover {
  background-color: #dadada;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
