.filter-select-wrapper {
  position: relative;
  width: fit-content;
}

.filter-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--filter-bg);
  border: 1px solid var(--filter-border);
  border-radius: 8px;

  padding: 8px 36px 8px 14px;
  font-size: 14px;
  color: var(--filter-color);
  cursor: pointer;
}

.filter-select-wrapper::after {
  content: "▾";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6B7280;
  pointer-events: none;
  font-size: 20px;
}
