.card-vulnerabilities{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 17px;
    margin-bottom: 16px;
    width: 220px;
}

.card-vulnerabilities-texts {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.card-vulnerabilities-texts p {
    color: #6B7280;
    font-size: 14px;
}

.card-vulnerabilities-texts h3 {
    font-size: 24px;
}

.icons-vulnerabilities {
     width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}