.vulnerabilities-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
}

.vulnerabilities-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.vulnerabilities-header p {
    color: #6B7280;
}

.cards-vulnerabilities {
    display: flex;
    align-items: stretch;
    gap: 0.8rem;
}

.filters-bar {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    width: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 11px;
    padding: 1.2rem 1rem;
}

.filters-label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #6B7280;
}

.filters-actions {
    display: flex;
    margin-left: 1rem;
    gap: 0.6rem;
}

.vuln-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #E5E7EB;
}

.vuln-table th {
    font-size: 15px;
}

.vuln-table thead {
    background-color: #f3f4f6;
}

.vuln-table th {
    text-align: left;
    font-weight: 600;
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

.vuln-table td {
    padding: 20px 14px;
    border-bottom: 1px solid #d6d9dc;
}

.vuln-id {
    color: #7a7e83;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

.vuln-title {
    font-size: 15px;
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    border-radius: 999px;
    font-size: 11px;
    font-weight: 500;
    text-transform: capitalize;
}

.badge.critical {
    background-color: #fee2e2;
    color: #dc2626;
    border: 1px solid #e11e1e;
}

.badge.high {
    background-color: #ffedd5;
    color: #ea580c;
    border: 1px solid #f97316;
}

.badge.medium {
    background-color: #FFFBEB;
    color: #FACC15;
    border: 1px solid #eab308;
}

.badge.low {
    background-color: #e0f2fe;
    color: #0284c7;
    border: 1px solid #0ea5e9;
}

.vuln-project {
    color: #7a7e83;
    font-size: 14px;
    font-weight: 400;
}

.vuln-createdAt {
    color: #7a7e83;
    font-size: 14px;
    font-weight: 400;
}

.badge-status {
    display:inline-flex;
    align-items: center;
    border-radius: 999px;
    font-size: 11px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 4px 12px;
    gap: 0.4rem;
}

.badge-status.fixed {
    background-color: #dcfce7;
    color: #16a34a;
    border: 1px solid #86efac;
}

.badge-status.open {
    background-color: #fee2e2;
    color: #dc2626;
    border: 1px solid #fecaca;
}

.badge-status.In-Progress {
    background-color: #ffedd5;
    color: #ea580c;
    border: 1px solid #fed7aa;
}

.vulnerability-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}

.texts-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.texts-not-found h3 {
    color: #6B7280;
    font-weight: 400;
}

.texts-not-found p {
    color: #9CA3AF;
    font-weight: 400;
}